<!DOCTYPE html>
<html>
  <head>
    <title>Colores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body <%= typeof data != 'undefined' ? 'style=background-color:' + data.color : '' %>>
    <h1>Colores</h1>

    <% if (typeof data != 'undefined') { %>
      <p>Hola <%=data.name %>, elegiste el color: <%=data.color %>, tu email es: <%= data.email %> <%= data.edad != '' ? 'y tu edad es:' + data.edad: null %>  </p>
    <% } %>
    
    <div id="errores">
      <h2>Errores</h2>
      <% if (typeof errors != 'undefined') { %>
        <% errors.forEach(error => { %>
          <span style="color:red"><li><%= error.msg %></li></span>
        <% }) %>
      <% } %>
    </div>
    
    <br>
    <br>

    <form action="/" method="POST">
      <div>
        <label for="">Ingrese su nombre</label>
        <input type="text" name="name" value="<%= typeof old != 'undefined'? old.name: '' %>">
      </div>
      
      <div>
        <label for="">Seleccione un color</label>
        <select name="color">
          <option value="">Elegí un color</option>
          <option value="yellow">Amarillo</option>
          <option value="blue">Azul</option>
          <option value="red">Rojo</option>
          <option value="green">Verde</option>
        </select>
      
      <div>
        <label for="">Ingrese su mail</label>
        <input type="email" name="email" id="" value="<%= typeof old != 'undefined'? old.email: '' %>">
      </div>

      <div>
        <label for="">Ingrese su edad</label>
        <input type="number" name="edad" id="">
      </div>

      <div>
        <label for="">Recordar color</label>
        <input type="checkbox" name="recordar_color" id="">
      </div>

      <button type="submit">Enviar</button>
    </form>

  </body>
</html>
